{
  "root": true,
  "extends": [ "prettier" ],
  "parser": "@typescript-eslint/parser",
  "plugins": [ "@typescript-eslint" ],
  "rules": {
    "prettier/prettier": 0
  },
  "ignorePatterns": [ "node_modules" ],
  "settings": {
    "componentWrapperFunctions": [ "observer" ]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  }
}
